<template>
  <form v-on:submit.prevent="$emit('add-list', user)">
    <h2>Nutzer hinzufügen:</h2>
    <div class="form-group">
      <label for="itemInput">Vorname:</label>
      <input type="text" class="form-control" id="itemInput" v-model="user.vorname">
    </div>
    <div class="form-group">
      <label for="itemInput1">Nachname:</label>
      <input type="text" class="form-control" id="itemInput1" v-model="user.nachname">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Beschreibung:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" v-model="user.beschreibung"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Hinzufügen</button>
  </form>
</template>
<script>

export default {
  name: "Addform",
  data() {
    return {
      user: {
        vorname:'',
        nachname:'',
        beschreibung:''
      }
    }
  }
}
</script>

<style scoped>

</style>
