<template>
  <table class="table">
    <thead>
    <tr>
      <th>Id:</th>
      <th>Vorname:</th>
      <th>Nachname:</th>
      <th>Beschreibung:</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="user in userList" v-bind:key="user.id">
      <td>{{ user.id }}</td>
      <td>{{ user.vorname }}</td>
      <td>{{ user.nachname }}</td>
      <td>{{ user.beschreibung }}</td>
      <td>
        <button type="button" class="btn btn-warning" v-on:click="$emit('show-modal',user.id)">Bearbeiten</button>
        <button type="button" class="btn btn-danger" v-on:click="$emit('remove-item',user.id)">Löschen</button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "List",
  props: {
    userList: Array
  }
}
</script>

<style scoped>

</style>
