<template>
  <div id="app">
    <nav class="navbar navbar-dark bg-dark mb-5">
      <span class="navbar-brand mb-0 h1">{{ title }}</span>
    </nav>
    <div class="container">
      <Modal v-bind:is-modal-visible="isModalVisible"
          v-show="isModalVisible"
          @close="closeModal"
      ></Modal>
      <div class="row">
        <List class="col-md-9" v-bind:user-list="userList" v-on:remove-item="removeitem($event)"
              v-on:edit-item="edititem($event)"></List>
        <Addform class="col-md-3" v-on:show-modal="showModal()" v-on:add-list="add($event)"></Addform>
      </div>
    </div>
  </div>
</template>

<script>
import Addform from './components/Addform.vue'
import List from './components/List.vue'
import Modal from "./components/Modal";
import {User} from './model/User'

export default {
  name: 'App',
  components: {
    Addform,
    List,
    Modal
  },
  data() {
    return {
      title: 'Nutzerliste:',
      isModalVisible: false,
      userList: [
        new User('Peter', 'Kneisel', 'Professor der Informatik an der THM Gießen'),
        new User('Robin', 'Stern', 'Keine Beschreibung vorhanden'),
        new User('test', 'test', 'Das ist ein Test-User'),
        new User('Peter', 'Kneisel', 'Professor der Informatik an der THM Gießen'),
        new User('Robin', 'Stern', 'Keine Beschreibung vorhanden'),
      ]
    }
  },
  methods: {
    add: function (user) {
      this.userList.push(new User(user.vorname, user.nachname, user.beschreibung))
    },
    removeitem: function (id) {
      this.userList.splice(id, 1);
      for (let i = 0; this.userList.length; i++) {
        this.userList[i].id = i;
      }
    },
    edititem: function () {
      this.modalOpen = !this.modalOpen;
      console.log(this.modalOpen);
    },
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
